<h1><%= @team.name %></h1>

<% @players.each do |player| %>
  <h3><%= player.name%></h3>
  <p>Player is healthy?: <%= player.healthy %></p>
  <p>Current weight in pounds: <%= player.weight_lbs %></p>
  <p>Player Hometown: <%= player.hometown %></p>
  <p>Created at: <%= player.created_at %></p>
  <p>Updated at: <%= player.updated_at %></p>
<% end %>
