
<h1>Team Stats</h1>

<h2><%= @team.name%></h2>
  <h3><%= @team.in_playoffs %></h3>
  <h3><%= @team.total_wins %></h3>
  <h3><%= @team.city %></h3>
  <h3><%= @team.home_arena %></h3>
  <h3>Number of players = <%= @players %></h3>
  <p><%= link_to "Delete: #{@team.name}", "/teams/#{@team.id}", method: :delete  %></p>
  <p><%= link_to "Update: #{@team.name}", "/teams/#{@team.id}/edit"  %></p>
  <p><%= link_to 'Return to Teams Home', teams_path %></p>
