<h1>All Players</h1>
<%= link_to "New Player: #{team.name}", "/teams/#{team.id}/players.new" %>
<% @players.each do |player| %>
  <h3><%= player.name%></h3>
  <p>Player is healthy?: <%= player.healthy %></p>
  <p>Current weight in pounds: <%= player.weight_lbs %></p>
  <p>Player Hometown: <%= player.hometown %></p>
  <p>Created at: <%= player.created_at %></p>
  <p>Updated at: <%= player.updated_at %></p>
<% end %>
