<a href='/dive'>See All Dives</a>
<a href='/locations'>See All Locations</a>
<a href='/teams'>See All Teams</a>
<a href='/player'>See All Players</a>
<h1><%=@player.name%></h1>
<p>Player is healthy?: <%= @player.healthy %></p>
<p>Current weight in pounds: <%= @player.weight_lbs %></p>
<p>Player Hometown: <%= @player.hometown %></p>
<p>Created at: <%= @player.created_at %></p>
<p>Updated at: <%= @player.updated_at %></p>
