
<h1><%= @location.title  %></h1>

<% @dives.each do |dive| %>
<h3><%= dive.title %></h3><br>
<p>Beginner dive: <%= dive.beginner %></p><br>
<p>Max depth: <%= dive.max_depth %></p><br>
<p>Strength of current: <%= dive.current_strength %></p><br>
<p>Location of charter: <%= dive.charter_loc %></p><br>
<p>Created at: <%= dive.created_at %></p><br>
<p>Updated at: <%= dive.updated_at %></p>
<% end %>
