<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRailsGG</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <a href='/dive'>See All Dives</a>
    <a href='/locations'>See All Locations</a>
    <a href='/teams'>See All Teams</a>
    <a href='/players'>See All Players</a>
    <%= yield %>
  </body>
</html>
